Magic 271485
Revision Verdi_V-2023.12

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 403 388 101

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/myyerrol/sdram/sdram-sim-result/all/2024-10-08-06-39-16/trace.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 1010099990.000000
cursor 10281000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 22
; marker line index
markerPos 35

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G2"
activeDirFile "" "/home/myyerrol/sdram/sdram-sim-result/all/2024-10-08-06-39-16/trace.fsdb"
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 /SDRAMControllerTestBench/dut/clock
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -holdScope reset
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -UNSIGNED -ASC -holdScope dbg_state[79:0]
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope state_q[3:0]
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope next_state_r[3:0]
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope target_state_q[3:0]
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope target_state_r[3:0]
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope delay_state_q[3:0]
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -UNSIGNED -UDEC -holdScope delay_r[3:0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -UDEC -holdScope refresh_timer_q[16:0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -holdScope refresh_q
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 15 -holdScope ram_req_w
addSignal -c ID_YELLOW5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope ram_wr_w[1:0]
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -holdScope write_active_w
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -holdScope read_active_w
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -holdScope AXI_AWVALID
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -holdScope AXI_WVALID
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -UNSIGNED -BIN -holdScope AXI_WSTRB[3:0]
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -holdScope AXI_ARVALID
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -holdScope req_wr_q
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -holdScope req_rd_q
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -holdScope req_fifo_accept_w
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -holdScope write_prio_w
addSignal -c ID_GREEN5 -ls solid -lw 1 -h 15 -holdScope read_prio_w
addSignal -h 15 -UNSIGNED -ASC -holdScope dbg_cmd[79:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope SDRAM_cke[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope SDRAM_cs[3:0]
addSignal -h 15 -holdScope SDRAM_ras
addSignal -h 15 -holdScope SDRAM_cas
addSignal -h 15 -holdScope SDRAM_we
addSignal -h 15 /SDRAMControllerTestBench/w9825g6kb/Cke
addSignal -h 15 -holdScope Cs_n
addSignal -h 15 -holdScope Ras_n
addSignal -h 15 -holdScope Cas_n
addSignal -h 15 -holdScope We_n
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

